.btn-space {
    margin-right: 5px;
}

#link0, #link1, #link2, #link3, #link4 {
    color: black;
    top: 20px;
    position: absolute;
}

#link0 {
    left: 100px;
    position:absolute;
    font-size:12pt;
    font-weight:bold;
}

#link1 {
    left: 180px;
    font-weight:bold;
    font-size:12pt;
}

#link2 {
    left: 303px;
    font-weight:bold;
    font-size:12pt;
}

#link3 {
    left: 285px;
}

#link4 {
    left: 405px;
}

#link0:hover, #link1:hover, #link2:hover, #link3:hover {
    color: grey;
}

#logo {
    height:30px;
    width:auto;
    position: absolute;
}

#toggle {
    background-color: #00000000;
    border: none;
}