* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

#date {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  font-size: 18px;
  font-weight: 300;
  width: 250px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-resolution: 300dpi;
  width: 40%;
}

input.textFields {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 15px;
}

select {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  font-size: 18px;
  font-weight: 300;
  width: 250px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

input[type="submit"]:hover {
  opacity: 1;
}

.moveImg {
  position: relative;
  left: 20px;
  bottom: 20px;
}

.btn2 {
  border: 2px solid #e6b3e6;
  background-color: whitesmoke;
  color: #993399;
  padding: 5px 20px;
  font-size: 15px;
  font-family: Copperplate;
  cursor: pointer;
  position: relative;
  left: 250px;
  bottom: 40px;
}

.upload {
  color: #993399;
}

.upload:hover {
  background: #993399;
  color: white;
}
