* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

#date {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  font-size: 18px;
  font-weight: 300;
  width: 250px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-resolution: 300dpi;
  width: 40%;
}

input.textFields {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 15px;
}

select {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  font-size: 18px;
  font-weight: 300;
  width: 250px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

input[type="submit"] {
  padding: 10px 15px;
  background: #7eca9c;
  background-color: #184d47;
  border: 1px solid rgba(252, 252, 252, 0.4);
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  opacity: 0.6;
  transition: 0.3s;
}

input[type="submit"]:hover {
  opacity: 1;
}

/* button {
  border: 1px solid rgba(252, 252, 252, 0.4);
  width: 250px;
  background-color: rgba(252, 252, 252, 0.2);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  border: 1px solid rgba(252, 252, 252, 0.4);
} */

/* button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
} */
