/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.titles {
  font-size: 42px;
  font-family: Copperplate;
  white-space: nowrap;
  font-weight: 500;
  position: relative;
  right: 30px;
}

.moveEverything {
  position: relative;
  left: 500px;
  bottom: 400px;
}

.titleofPage {
  font-size: 52px;
  font-family: Copperplate;
  white-space: nowrap;
  font-weight: 500;
  position: relative;
  left: 300px;
}

.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  font-family: Copperplate;
  white-space: nowrap;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.submitbtn {
  border: 2px solid #e6b3e6;
  background-color: whitesmoke;
  color: #993399;
  padding: 12px 20px;
  font-size: 30px;
  font-family: Copperplate;
  cursor: pointer;
  position: relative;
  /* left: 270px; */
  /* bottom: 40px; */
}

.submitbtn:hover {
  background: #993399;
  color: white;
}